*{
    box-sizing: border-box;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-weight: 700;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.main-container {
    flex-grow: 1;
}

.main-nav {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    column-gap: 30px;
}

.nav-link {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 20px 16px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-logo-link {
    align-self: flex-start;
    padding: 0;
    width: 140px;
    margin-bottom: -6px;
}

.client-list {
    margin-left: auto;
    align-content: center;
}

.client-list .nav-link {
    min-width: 12px;
    min-height: 22px;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.button {
    font-family: "PT Sans", sans-serif;
    width: 160px;
    height: 36px;
    background-color: #756157;
    border: #756157;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}


.hero-block {
    background-image: url("../images/try2.svg"), url("../images/try1.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
    background-color: #F2F2F2;
    padding-top: 51px;
    padding-bottom: 83px;
    margin-bottom: 69px;
}

.hero-text {
    display: block;
    margin: 0 auto;
}

.advantages-block {
    margin-bottom: 64px;
}

.title-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.subtitle-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin-top: 0;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-different {
    background-color: #82B3D3;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.different-text-container {
    padding: 102px 85px;
    text-align: center;
}

.different-reverse {
    flex-direction: row-reverse;
}

.advantages-item h3, .recommendation-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item p, .recommendation-text {
    color: #333333;
}

.advantages-different-title {
    margin: 0;
    color: #ffffff;
}

.different-text-container .advantage-different-text {
    color: #ffffff;
}

.advantages-light {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    padding: 112px 85px;
    min-height: 385px;
    text-align: center;
}

.visit-sedona {
    margin-top: 0;
    margin-bottom: 20px;
}

.experienced-staff {
    margin-top: 0;
    margin-bottom: 64px;
}

.recommendation-light {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    padding: 81px 85px;
    min-height: 385px;
    text-align: center;
}
 .advantages-center {
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    padding: 112px 85px;
    min-height: 385px;
    text-align: center;
 }
.recommendation-different {
    width: 400px;
    padding: 81px 85px;
    min-height: 385px;
    text-align: center;
}

.recommendations {
    margin-top: 0;
    margin-bottom: 96px;
}

.recommendation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-hotel {
    margin-top: 0;
    margin-bottom: 96px;
}

.search-hotel-btn {
    width: 376px;
    height: 52px;
    font-size: 20px;
    display: block;
    margin: auto;
}

.newsletter-background-image {
    background-image: url("../images/subscribe-background.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
}

.newsletter-title, .newsletter-text {
    color: #ffffff;
}

.newsletter-btn {
    width: 232px;
    height: 52px;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
}

.newsletter-input {
    width: 452px;
    height: 52px;
    border-radius: 4px 0 0 4px;
    border: #ffffff;
    line-height: 24px;
}

.socials-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.phone {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

/*catalog*/


.filter-background {
    background-image: url("../images/catalog-hero.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F2F2F2;
    padding: 35px 0 70px 0;
    margin: 0 0 50px 0;
}

.catalog-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #ffffff;
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
    padding-top: 35px;
    padding-left: 30px;
}

.breadcrumbs-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.breadcrumbs-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.filter-form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}

.filter-form-list {
    list-style: none;
}

.filter-form-list label {
    line-height: 23px;
    color: #ffffff;
}

.filter-btn-apply {
    width: 191px;
    height: 36px;
    background-color: #82B3D3;
}

.filter-btn-reset {
    background-color: rgba(130, 179, 211, 0);
}

.result-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-right: 200px;
}

.filter-results {
    width: 292px;
    height: 49px;
    color: #333333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1060px;
    margin: 0 70px;
    padding: 0;
    list-style: none;
}


.product-item {
    width: 340px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 20px;
}

.product-link-card {
    text-decoration: none;
}

.product-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
}

.product-item p {
    color: #333333;
}

.product-btn-link {
    padding: 8px 26px;
    background-color: #756157;
    text-decoration: none;
}

.product-btn {
    width: 140px;
    height: 36px;
    background-color: #82B3D3;
}

.raiting {
    padding: 9px 22px 8px 23px;
    display: inline;
    background-color: #F2F2F2;
    border-radius: 4px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 40px 70px 60px 70px;
    list-style: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    padding: 12px 24px;
    width: 60px;
    height: 60px;
}

.pagination-more {
    display: block;
    box-sizing: border-box;
    padding: 12px 24px;
    width: 60px;
    height: 60px;
}

.pagination-active {
    background-color: #F2F2F2;
    color: #000000;
}

.newsletter-catalog-title {
    color: #000000;
}

.newsletter-catalog-subtitle {
    color: #333333;
}

.newsletter-catalog-input {
    background-color: #F2F2F2;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 70px 30px 70px;
  }

  .footer-socials {
    margin-left: 70px;
    margin-right: 237px;
  }

  .social-item {
    width: 48px;
    height: 40px;
  }

  .phone-address {
    width: 331px;
  }

  .author-logo {
    margin-left: auto;
  }

  .results-filter-card {
    display: flex;
    width: 1200px;
    margin-bottom: 40px;
    padding: 0 70px;
    align-items: baseline;
  }

  .button-card {
    width: 48px;
    height: 48px;
  }

  .consider-reasons {
    margin-bottom: 90px;
  }
